@model Urun
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <p>@Model.UrunAdi isimli ürünü silmek istiyor musunuz?</p>
                <form method="post" asp-controller="Urun" asp-action="DeleteConfirm">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">Evet</button>
                    <a asp-controller="Urun" asp-action="Index" class="btn btn-secondary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>